@import "tailwindcss";
@import "./fonts.css";

@layer base {
	* {
		font-family: "Cera Pro";
		box-sizing: border-box;
	}

	body{
		background-color: #00000003;
	}

	.wrapper{
		@apply flex flex-col justify-center items-center;
	}

	::-webkit-scrollbar {
		width: 2px;
		height: 2px;
	}

	::-webkit-scrollbar-button {
		width: 2px;
		height: 2px;
	}
}