@import "tailwindcss";
@import "./fonts.css";

@layer base {
	/* Base */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}


	/* Typography */
	html {
		scroll-behavior: smooth;
	}


	body {
		@apply bg-[#00000003];

		font-family: "Cera Pro";
	}


	/* Layout */
	.wrapper {
		@apply flex flex-col items-center justify-center;
	}


	/* Scrollbar */
	::-webkit-scrollbar {
		@apply h-0.5 w-0.5;
	}


	::-webkit-scrollbar-button {
		@apply h-0.5 w-0.5;
	}
}